__pycache__/
*.pyc
*.pyo
*.pyd

.idea/
.vscode/
.DS_Store

checkpoints/
runs/
logs/
output/
outputs/
results/
test_results/

result_classification.txt
result_pointseg.txt

*.pth
*.pt
*.ckpt
*.npz
*.npy
*.edf
*.mat
*.h5
